<head>
    <title>
        <%= title %>
    </title>

    <link rel="icon" type="image/png" href="/images/favicon.ico" />
    <link rel='stylesheet' id="viewStyle" href='/stylesheets/day-bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.css' />
    <script src="/javascripts/font-awesome.js"></script>
    <script>
        const darkMode = () => {
            document.getElementById('viewStyle').href = "/stylesheets/dark-bootstrap.min.css"
        }
    </script>
</head>