<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/images/favicon.ico" alt="TODO" width="30" height="24">TODO App
        </a>
    </div>


    <button class="btn btn-outline-dark" onclick=darkMode()>
        <i class="far  fa-moon"></i>
    </button>

</nav>